In [1]:
# https://github.com/IgorKhomyanin/blog/blob/main/cuped-for-starters/cuped-for-starters.ipynb

import pandas as pd

pd.read_csv("./commission_revenue.csv")

C:\Users\Alexandra\AppData\Local\Temp\ipykernel_8792\807560758.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,group,user_id,commission_revenue_pre,commission_revenue_exp
0,control,cf7f6389-95e8-44b1-88d9-71a784d0eea3,126.174822,131.495757
1,control,6b129f09-fb5f-42df-bde3-a0daf9476c31,95.278575,105.803968
2,test,f5ce5d40-a918-482f-bd4a-27ade2af0d97,101.397369,101.787418
3,control,82592e1a-b6b7-42bf-a625-1fc138f92d3e,68.855613,56.851970
4,control,549b14a8-fc08-4224-bf8e-931a7a50e6ff,112.974435,101.960805
...,...,...,...,...
1995,test,074587da-a60a-4017-aa27-6d4c316efe71,80.804420,73.944887
1996,test,d1a843de-a1db-479f-9e23-65867cc57120,54.919574,79.652109
1997,test,c9e0f7e5-6c22-4434-9168-131e97841d9b,158.438671,141.914387
1998,control,c69dd04c-80c5-4c09-b961-ff188eb22a20,119.798094,101.634467
1999,test,6b680b91-f466-45e1-96b9-254a3c17f85d,125.591746,150.622110