In [1]:
import pandas as pd

from scipy.stats import shapiro
from scipy.stats import levene

C:\Users\Alexandra\AppData\Local\Temp\ipykernel_12160\899393406.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [15]:
ecommerce_data = pd.read_csv("./data/e-commerce.csv")
ecommerce_data

        user_id timestamp      group landing_page  converted
0        851104   11:48.6    control     old_page          0
1        804228   01:45.2    control     old_page          0
2        661590   55:06.2  treatment     new_page          0
3        853541   28:03.1  treatment     new_page          0
4        864975   52:26.2    control     old_page          1
...         ...       ...        ...          ...        ...
294475   734608   45:03.4    control     old_page          0
294476   697314   20:29.0    control     old_page          0
294477   715931   40:24.5  treatment     new_page          0
294478   759899   20:29.0  treatment     new_page          0
294479   643532   40:24.5  treatment     new_page          0

[294480 rows x 5 columns]

In [9]:
# binomial distribution
adsmart_data = pd.read_csv("./data/ad_smart.csv")
adsmart_data = adsmart_data[(adsmart_data['yes'] == 1) | (adsmart_data['no'] == 1)]
adsmart_data['group'] = adsmart_data['experiment'].map({'exposed':'A', 'control':'B'})
adsmart_data = (adsmart_data
                .rename(columns={'yes': 'clicked'})
                .drop(columns=['experiment', 'date', 'hour', 'device_make', 'platform_os', 'browser', 'no']))
adsmart_data

                                auction_id  clicked group
2     0016d14a-ae18-4a02-a204-6ba53b52f2ed        0     A
16    008aafdf-deef-4482-8fec-d98e3da054da        1     A
20    00a1384a-5118-4d1b-925b-6cdada50318d        0     A
23    00b6fadb-10bd-49e3-a778-290da82f7a8d        1     B
27    00ebf4a8-060f-4b99-93ac-c62724399483        0     B
...                                    ...      ...   ...
8059  ffa08ff9-a132-4051-aef5-01a9c79367bc        1     A
8063  ffb176df-ecd2-45d3-b05f-05b173a093a7        1     A
8064  ffb79718-6f25-4896-b6b3-e58b80a6e147        0     B
8069  ffca1153-c182-4f32-9e90-2a6008417497        0     B
8071  ffdfdc09-48c7-4bfb-80f8-ec1eb633602b        0     A

[1243 rows x 3 columns]

In [25]:
exposed = adsmart_data[adsmart_data["group"] == "A"]
control = adsmart_data[adsmart_data["group"] == "B"]

In [22]:
groupA = adsmart_data[adsmart_data['group'] == "A"]["yes"]
groupB = adsmart_data[adsmart_data['group'] == "B"]["yes"]

In [3]:
grocery_data = pd.read_csv("./data/grocery_website.csv")
grocery_data['group'] = grocery_data['ServerID'].map({1:'B', 2:'A', 3:'A'})
grocery_data = grocery_data.drop(columns=['LoggedInFlag', 'ServerID'])
grocery_data = grocery_data.groupby(['IP Address', 'group'])['VisitPageFlag'].sum().reset_index(name='sum_visitpage')
grocery_data

      IP Address group  sum_visitpage
0      0.0.108.2     B              0
1      0.0.109.6     B              0
2      0.0.111.8     A              0
3      0.0.160.9     A              0
4      0.0.163.1     A              0
...          ...   ...            ...
99511  99.9.53.7     A              0
99512  99.9.65.2     A              0
99513  99.9.79.6     A              0
99514  99.9.86.3     B              1
99515  99.9.86.9     B              0

[99516 rows x 3 columns]